.items {
  --item: 4;
  grid-gap: 32px;
  grid-template-columns: repeat(var(--item), 1fr);
  margin-top: 32px;
}
@media only screen and (max-width: 1400px) {
  .items {
    --item: 3;
  }
}
@media only screen and (max-width: 900px) {
  .items {
    grid-gap: 28px 16px;
  }
  .item {
    padding: 20px 12px;
  }
}
@media only screen and (max-width: 370px) {
  .items {
    --item: 1 !important;
  }
}
@media only screen and (max-width: 1100px) and (min-width: 1001px),
  (max-width: 770px) {
  .items {
    --item: 2;
  }
}
