.modal__content {
    width: 450px;
    height: 500px;
    padding: 20px;
    border-radius: 12px;
    background: rgb(34, 32, 32);
    display: flex;
    flex-direction: column;
}

.block {
    margin-bottom: 50px;
}

.modal__between

.text {
    color: red;
}

.discription {
    text-align: center;
    font-size: 18px;
    background:  #292826;
    border-radius: 12px;
    padding: 14px;
    width: 350px;
}

.registration {
    width: 350px;
    font-size: 24px;
    background: #f5e12f;
    padding: 5px 24px;
    border-radius: 12px;
    color: #000;
    font-weight: 500;
    margin: 0 auto;
}

.registration:active {
    background: #ecc721;
    -webkit-transition: background 0.2s;
}

.block {
    display: flex;
    justify-content: center;
}

.input,
input {
    font-size: 24px;
    text-align: center;
    background: #000;
    padding: 5px 24px;
    border-radius: 12px;
    color: #f5e12f;
    font-weight: 500;
    width: 350px;
}

.error{
    font-size: 12px;
    color: red;
    line-height: 15px 
}

@media only screen and (max-width: 1462px) {
    .modal__content {
        width: 400px;
        height: 600px;
    }

    
}

@media only screen and (max-width: 409px) {
    .modal__content {
        width: 300px;
        height: 400px;
    }

    .block {
        margin-bottom: 25px;
    }

    .input,
    input {
        width: 200px;
    }

    .drop {
        max-width: 200px;
    }
    .discription{
        width: 200px;
    }

    .registration{
        width: 200px;
        margin: 0 auto;
    }
}