.home_telegram_bg {
    position: absolute;
    top: 0;
    left: 50%;
    width: max(100%, 1740px);
    transform: translate3d(-50%, 0, 0);
    z-index: -1;
  }
  .home_telegram_title {
    font-size: var(--h1);
    font-weight: 700;
    line-height: 1.2;
  }
  .home_telegram_label {
    --color: var(--silver);
    margin-top: 20px;
    font-weight: 500;
  }
  .home_telegram .btn {
    margin-top: 32px;
    padding: 0 32px;
  }
  .home_telegram {
    overflow: hidden;
    position: relative;
    margin-top: 108px;
    padding-top: 52px;
    text-align: center;
  }
  @media only screen and (max-width: 600px) {
    .home_telegram {
        margin-top: 48px;
      }
  }